@import '~microscope-sass/lib/typography';
@import '~@gemeente-denhaag/components-css/dist/index';

@import '../mixins/bem';
@import '../mixins/prefix';

.#{prefix(form-control)} {
  @extend .denhaag-form-field;

  &:not(:first-child) {
    margin-top: 32px;
  }

  @include modifier('hidden') {
    display: none;
  }

  &[class*="error"] {
    @include border(left, var(--of-color-danger), 4px);
    padding-left: $grid-margin-3;
  }

  &[class*="warning"] {
    @include border(left, var(--of-color-warning), 4px);
    padding-left: $grid-margin-3;
  }

  &[class*="success"] {
    @include border(left, var(--of-color-success), 4px);
    padding-left: $grid-margin-3;
  }

  &[class*="info"] {
    @include border(left, var(--of-color-info), 4px);
    padding-left: $grid-margin-3;
  }

  &--no-asterisks {
    .required-field:after {
      // Override the asterisk
      content: "" !important;
    }
  }

  // Overwriting Formio style
  .control-label--hidden {
    position: static !important;
  }
}
