.#{prefix(help-text)} {
  border: var(--openforms-input-description-border);
  background-color: var(--openforms-input-description-background-color);
  padding: var(--openforms-input-description-padding, 0 0 0 1rem);
}
